<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <display-name>LoginModule</display-name>
  <servlet>
    <servlet-name>abcde</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abcde</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zxcv</servlet-name>
    <servlet-class>com.login.PizzaOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zxcv</servlet-name>
    <url-pattern>/PizzaOrder4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>asdf</servlet-name>
    <servlet-class>com.login.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asdf</servlet-name>
    <url-pattern>/Register3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pqrs</servlet-name>
    <servlet-class>com.login.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pqrs</servlet-name>
    <url-pattern>/Cart4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbms</servlet-name>
    <servlet-class>com.login.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbms</servlet-name>
    <url-pattern>/Checkout2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ghij</servlet-name>
    <servlet-class>com.login.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ghij</servlet-name>
    <url-pattern>/PlaceOrder5</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>qwer</servlet-name>
    <servlet-class>com.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qwer</servlet-name>
    <url-pattern>/Logout2</url-pattern>
  </servlet-mapping>
</web-app>